<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["admin-title"] - </title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
